* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

.first {
  background-color: beige;
}

.section-home {
  position: relative;
  padding-top: 100px;
  padding-bottom: 0;
}

.section-home::after {
  content: "";
  background: url('./cont_bg.png') no-repeat top left;
  display: block;
  width: 40%;
  height: 740px;
  position: absolute;
  top: 0%;
  left: 0;
  z-index: 0;
}

.l-content {
  position: relative;
  max-width: 1460px;
  margin: 0 auto;
}

.p-cont {
  position: relative;
  z-index: 1;
}

.l-line {
  position: relative;
}

.l-line::before,
.l-line::after {
  content: "";
  background: rgba(112, 112, 112, 0.2);
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 0;
}

.l-line::after {
  top: 42%;
  transform: translateY(50%);
}

.p-media {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  z-index: 1;
  margin-bottom: 50px;
}

.p-image-body {
  position: relative;
  width: 55%;
  margin-top: 70px;
  margin-right: 60px;
}

.carousel {
  margin: 0 auto;
  padding: 20px 0;
  max-width: 700px;
  overflow: hidden;
  display: flex;
}

.carousel>* {
  flex: 0 0 100%;
}

.card {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 10%) 5px 5px 20px 0;
  font-size: xx-large;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.carousel:hover .group {
  animation-play-state: paused;
}

/* Group the cards for better structure. */
.group {
  display: flex;
  /* Add padding to the right to create a gap between the last and first card. */
  will-change: transform;
  /* We should be nice to the browser - let it know what we're going to animate. */
  animation: scrolling 10s linear infinite;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.b-heading-title {
  display: inline-block;
  padding: 45px 0;
  margin-bottom: 45px;
  position: relative;
}

.b-heading-title::before,
.b-heading-title::after {
  content: "";
  background-color: #000;
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.b-heading-title::before {
  top: 0;

}

.b-heading-title::after {
  bottom: 0;
}

.b-heading-title span {
  display: block;
  text-align: center;
}

.b-heading-title-main {
  color: #000;
  font-size: 54px;
  font-weight: 500;
  letter-spacing: 8.1px;
  line-height: 1.33;
}

.b-heading-title-sub {
  color: #000;
  font-size: 23px;
  font-weight: 500;
  line-height: 1.35;
}

.p-desc {
  letter-spacing: 1.6px;
  line-height: 1.8;
}